<% if @sent %>
<script>
$.notification('Thank you for contacting me!', {
			className: 'jquery-notification',
			duration: 2000,
			freezeOnHover: false,
			hideSpeed: 250,
			position: 'top-right',
			showSpeed: 250,
			zIndex: 99999
		});
</script>
<% end %>






  <div id="main">
    <div id="header">

      <a href="/" id="banner"><%= image_tag("rahul_sharma.jpg", :title => "Rahul Sharma", :rel => "tipsy", :style => "bottom: 15px; position: relative; right: -13px; z-index: 99;")%> <h1 style="	bottom: 76px; left: 113px; position: relative;"> Rahul Sharma </h1> </a>
	
    </div>
    <div id="arrow"></div>
    <div id="content">
      <ul id="menu" style="color:white;">
        <li><a class="active" href="#about" id="about-button" title="About"><h2>About</h2></a></li>
        <li><a href="#contact" id="contact-button" title="Contact"><h2>Contact</h2></a></li>
        <li><a href="#work" id="code-button" title="Code"><h2>Resume</h2></a></li>

      </ul>
      <div id="content-body">
        <div id="about">
          <p>
            <b>Welcome!</b> My name is Rahul Sharma. I&rsquo;m an Economics and Mathematics Major at Columbia University in the City of New York, Class of 2013.
          </p>
          <p>After graduation, I plan to work in the financial sector. After interning at banks such as UBS and Morgan Stanley, I have accrued financial acumen to prepare me for this career path and realized a passion for investment banking.</p>
        </div>
        <div id="contact">
          <div class="column">

            <p>
              <a><span class="label">Phone</span></a>
              <span class="phone value">(859) 608-6086</span> 
              <span class="label">Address</span>
              <span class="address value">6481 Lerner Hall, 2920 Broadway <br />New York NY 10027</span> 
              

            </p>
          </div>
          <div class="column right">
            <p>
				<a class="vcard" href="<%= asset_path("Rahul_Sharma.vcf") %>">Download my vCard</a>
              <a class="linked-in" href="http://www.linkedin.com/pub/rahul-sharma/1a/701/848">LinkedIn</a>
              <a class="facebook" href="https://www.facebook.com/profile.php?id=1203120126">Facebook</a>

            </p>
          </div>
        </div>

		<div id="work">
			
			
       		<p  style="font: 8pt/1.4em Garamond,Georgia,Times,serif; margin-left:25px; ">

			<u> Education </u><br/>
			Columbia University in the City of New York<br/>
			B. A. Candidate Economics &amp; Mathematics (May 2013) <br/> GPA: 3.93/4.0, SAT:2330<br/>
			<br/>
			<u> Work Experience </u><br/>
			Morgan Stanley, Global Metrics &amp; Analysis | June 2011 - Present<br/>
			Divine Capital Markets LLC, Equity Research | September 2010 - May 2011<br/>
			UBS AG, Private Wealth Management | June 2010 - August 2010<br/>

			<br/>
			
			<u>Research Experience </u><br/>
			Columbia University, Department of Economics | January 2010 - May 2010<br/>

			

        </div>

  </div>

      <div id="footer">
        <div style="float:right; text-align:center; width: 97%; padding:4px 10px;background:#cfcfcf;color:#858585;text-shadow:1px 1px 1px #fff;border:none;font-weight:bold;font-size:10px;cursor:pointer; text-align:center;">Rahul Sharma - rs2992@columbia.edu - (859) 608 6086 - Columbia 2013 </div>
      </div>
    </div>


  <div id="shadow"></div>

	
	    <script type="text/javascript">
	
	
			
		$(document).ready(function()
		{
			
			
			
			
		
			
			$("a[site], [no_underline]").css("text-decoration", "none");
			
			
			$("h2.link, a[site], [no_underline]").hover(function (){
			        $(this).css("text-decoration", "underline");
			    },function(){
			        $(this).css("text-decoration", "none");
			    }
			);
			

		   var apiKey = 'ReuyKzSZUUjL';

		    // Notice the use of the each method to gain access to each element individually
		    $('a[site]').each(function()
		    {
		        // Grab the URL from our link
		        var url = "assets/" +  $(this).attr('site') + ".png";
		
		        // Create image thumbnail using Websnapr thumbnail service
				thumbnail = "<img alt='Loading thumbnail' width='202px;' height='152px;' src='" + url + "'>" + $(this).attr('description'); 
		        // Setup the tooltip with the content
		        $(this).qtip(
		        {
		            content: thumbnail,
		            position: {
		                corner: {
		                    tooltip: 'bottomMiddle',
		                    target: 'topMiddle'
		                }
		            },
		            style: {
		                tip: true, // Give it a speech bubble tip with automatic corner detection
					    border: {
					         radius: 8,
					         color: '#777'
					      },
						name: 'light'
		            }
		        });
		    });


		});
		$("[rel='tipsy']").tipsy({fade:true, gravity:'s'});
		
		$
	    </script>
	


</body>
</html>